@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gallaudet';
  src: url('./fonts/GALLAUDET.ttf');
}

@layer base {
  html {
    font-family: 'Sora', sans-serif;
  }
}

.unselectable {
  cursor: default;
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 
}

p {
  @apply unselectable
} 

input[type=button]
{
  outline: none;
}

.alphabet-outline {
  @apply text-center border-10 border-green-module rounded-2xl;
}

.alphabet-outline-dark {
  @apply text-center border-10 border-green-module-text rounded-2xl;
}

.thick-outline {
  @apply text-center border-green-module rounded-3xl border-12 shadow-xl
}

.expand-btn:active {
  transform: scale(1.1);
  -webkit-transition: transform 0.05s ease-in-out;
}

.landing-btn {
  @apply unselectable text-center border-[5px] rounded-2xl max-w-[250px] p-3 shadow-xl w-[250px];
  transition: 0.5s;
}


.landing-btn:active {  
  transform: scale(1.1);
  -webkit-transition: transform 0.05s ease-in-out;
}




/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
